aaransia==1.1
allennlp==2.10.0
Babel==2.8.0
beautifulsoup4==4.11.1
benepar==0.2.0
checklist==0.0.11
cucco==2.2.1
datasets==2.5.1
dateparser==1.1.1
deepspeed==0.7.3
detoxify==0.5.0
editdistance==0.6.0
evaluate==0.3.0
fastpunct==2.0.2
forex_python==1.8
ftfy==6.1.1
ftlid==0.1.2
g2pM==0.1.2.5
gender_extractor==0.1.3
gudhi==3.6.0
inflect==6.0.0
initialize==1.1.1
jellyfish==0.9.0
jieba==0.42.1
langid==1.1.6
lemminflect==0.2.2
matplotlib==3.1.3
mlconjug==3.4.0
nlpaug==1.1.11
nlpcda==2.5.8
nltk==3.4.5
num2words==0.5.12
numpy==1.18.1
opencc==1.1.4
pandas==1.0.1
pattern==3.6
phonenumbers==8.12.56
piglatin==1.0.6
prettytable==3.4.1
pronouncing==0.2.0
pyinflect==0.5.1
pypinyin==0.47.1
pytest==5.3.5
ray==2.0.0
requests==2.22.0
sacrebleu==2.2.1
scikit_learn==1.1.2
scipy==1.4.1
seaborn==0.10.0
sentence_transformers==2.2.2
seqeval==1.2.2
setuptools==45.2.0.post20200210
sibyl==0.1
skipthoughts==0.0.1
SoundsLike==0.0.11
spacy==3.4.1
spacy_lefff==0.5.1
spacytextblob==4.0.0
tensorflow==2.10.0
tensorflow_hub==0.12.0
tesserocr==2.5.2
TestRunner==0.8.4
tokenizers==0.13.0
torch==1.13.0.dev20220813
torchtext==0.13.1
tqdm==4.42.1
transformers==4.22.2
trdg==1.8.0
typing_extensions==4.3.0
Unidecode==1.3.6
wandb==0.13.3
word2number==1.1
wptools==0.4.17
